$red: #ff0000;
$bg: #0f0f0f;
$bg-second: #494949;
$font-color: #f1f1f1;
$font-color-2: #aaaaaa;
$button-color-1: rgb(170, 73, 73);
$icon-color-red: #ff0000;
$width-max-content: 1080;
$line-height: 1.5;
$border-radious: 5px;
$border-color-form: rgb(212, 212, 212);
$active-brightness: 0.85;

$color-shadow: #f4f4f4;
$hover-brightness: 2;
$box-shadow: 0px 2px 10px;

$transition-setting: 0.2s ease-in-out;

// $active-shadow:
