.message {
  z-index: 99;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  font-size: 1rem;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 3s;
  &.error {
    background-color: tomato;
    color: white;
  }

  &.success {
    background-color: rgb(71, 157, 255);
    color: white;
  }

  &.info {
    background-color: rgb(71, 255, 105);
    color: white;
  }
}

@keyframes goAway {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
