extends base
include mixins/video

block content
    h2 welcome here you will see trending video
    form(action="") 
        input(placeholder="write")

        button login

    each items in videos
      +video(items) 
    //- else
    //-    li sorry nothing found