extends base
include mixins/video

block upload 
       nav 
                ul 
                    li 
                        a(href="/videos/upload") Upload Video


block content
    h2 welcome here you will see trending video
    form(action="") 
        input(placeholder="write")

        button login

    each video in videos
      +video(video) 
    else
       li sorry nothing found