extends ../base.pug

block content 

    form(method="POST").search__form 
        div
            h4 Update video
            input(name="title" type="text" placeholder="video title" value=`${video.title}` maxlength="50"  required).search__form-input-text
            input(name="description" placeholder="description" value=`${video.description}` required type="text" minlength="20").search__form-input-text
            input(name="hashtags" placeholder="hashtags, separated by" value=`${video.hashtags}` required type="text").search__form-input-text
            button.search__form-button1 Save
