extends ../base.pug

block content 

    form(method="POST") 
        h4 Update video
        input(name="title" type="text" placeholder="video title" value=`${video.title}` maxlength="50"  required)
        input(name="description" placeholder="description" value=`${video.description}` required type="text" minlength="20")
        input(name="hashtags" placeholder="hashtags, separated by" value=`${video.hashtags}` required type="text")
        input(type="submit" value="save")
