extends ../base.pug
include ../mixins/video

block content 
    form(action="").search__form
        div 
            input(name="keyword" type="text" placeholder="search by title")
            button
                i.fas.fa-search
        
    if videos
        .video-grid1 
            each video in videos 
                +video(video) 
            else
                span.empty__message No video's found.
        