extends ../base

block content 
    if errorMessage
        p= errorMessage
    form(method="post")
        input(type="password" placeholder="Old password" name="oldPassword")
        input(type="password" placeholder="New password" name="newPassword")
        input(type="password" placeholder="New password confirmation" name="newPasswordConfirmation")
        input(type="submit" value="Change")